@model BloodDonor.Web.ViewModels.BloodLabs.BloodLabListViewModel


<h1>List of Labs:</h1>


<div class="row">
    @foreach (var lab in Model.BloodLabs)
    {
        <div class="col-md-4 media">
            <div class="media-body">
                <h5 class="mt-0">
                    <a asp-controller="BloodLabs" asp-action="ById" asp-route-id="@lab.Id">
                        @lab.Name
                    </a>
                </h5>
                @lab.Address
            </div>
        </div>
    }
</div>
