@model BloodDonor.Web.ViewModels.Patients.PatientRegisterInputModel

<h1>Register as Patient</h1>


<form method="post" asp-action="Register">
    <div>
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="LocationTownName"></label>
        <input asp-for="LocationTownName" class="form-control" />
        <span asp-validation-for="LocationTownName" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="BloodType"></label>
        <input asp-for="BloodType" class="form-control" />
        <span asp-validation-for="BloodType" class="text-danger"></span>
    </div>
    <hr />
    <input type="submit" class="btn btn-primary" />
</form>



@*<form method="post" asp-action="Register">

    <div class="form-group">
        <label for="fullName1">Full Name*</label>
        <input type="text" class="form-control" id="exampleInputFullName1" placeholder="Enter First and Last Name">
        <small id="nameHelp" class="form-text text-muted">We'll never share your details with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="bloodType1">Blood Type</label>
        <input type="text" class="form-control" id="exampleBloodType1" placeholder="Enter BloodType here">
    </div>
    <button type="submit" class="btn btn-danger">Submit</button>

</form>*@
