<h1 style="font-family:'Palatino Linotype'">Do you know the benefits of Donating Blood ?</h1>
<br />
<br />
<br />


<h4 style="font-family: 'Palatino Linotype'">
    Donating blood has benefits for your emotional and physical health.
    According to a report by the Mental Health Foundation, helping others can:
</h4>
<h4 style="font-family: 'Palatino Linotype'" class="text-lg-center"><a style="color:red">reduce stress </a></h4>
<h4 style="font-family: 'Palatino Linotype'" class="text-lg-center"><a style="color:red"> improve your emotional well-being</a></h4>
<h4 style="font-family: 'Palatino Linotype'" class="text-lg-center"><a style="color:red">benefit your physical health</a></h4>
<h4 style="font-family: 'Palatino Linotype'" class="text-lg-center"><a style="color:red">help get rid of negative feelings</a></h4>
<h4 style="font-family: 'Palatino Linotype'" class="text-lg-center"><a style="color:red">provide a sense of belonging and reduce isolation</a></h4>
<br />
<br />
<h3 style="font-family: 'Palatino Linotype'">Free health ckeckup</h3>
<br />
<br />
<p style="font-family: 'Palatino Linotype'">
    In order to give blood, you’re required to undergo a health screening.
    A trained staff member performs this checkup. They’ll check your:
</p>
<h4 style="font-family: 'Palatino Linotype'" class="text-lg-center"><a style="color:red">pulse</a></h4>
<h4 style="font-family: 'Palatino Linotype'" class="text-lg-center"><a style="color:red">blood pressure</a></h4>
<h4 style="font-family: 'Palatino Linotype'" class="text-lg-center"><a style="color:red">body temperature</a></h4>
<h4 style="font-family: 'Palatino Linotype'" class="text-lg-center"><a style="color:red">hemoglobin levels</a></h4>
<br />
<p style="font-family: 'Palatino Linotype'">
    This free mini-physical can offer excellent insight into your health.
    It can effectively detect problems that could indicate an underlying
    medical condition or risk factors for certain diseases.
</p>
<br />
<p style="font-family: 'Palatino Linotype'">Your blood is also tested for several diseases. These include:</p>
<br />
<h4 style="font-family: 'Palatino Linotype'" class="text-lg-center"><a style="color:red">hepatitis B</a></h4>
<h4 style="font-family: 'Palatino Linotype'" class="text-lg-center"><a style="color:red">hepatitis C</a></h4>
<h4 style="font-family: 'Palatino Linotype'" class="text-lg-center"><a style="color:red">HIV</a></h4>
<h4 style="font-family: 'Palatino Linotype'" class="text-lg-center"><a style="color:red">siphilis</a></h4>
<h4 style="font-family: 'Palatino Linotype'" class="text-lg-center"><a style="color:red">Trypanosoma cruzi</a></h4>


