<div class="container">
    <img src="https://southtexasblood.org/sites/default/files/rotator_images/stbtc_coronavirus_homepagebanner.png" alt="Notebook" style="width:100%;">
    <div class="content">
        <h1 style="color:red">"With blood supplies critically low, giving now can help, especially if you've already recovered from COVID-19</h1>
        <hr/>
        <p>
            <h3>Will You Be Tested for Coronavirus Before You Donate?</h3>
            Will You Be Tested for Coronavirus Before You Donate?
          
        </p>
    </div>
</div>
