<div class="container">
    <img src="https://southtexasblood.org/sites/default/files/rotator_images/stbtc_coronavirus_homepagebanner.png" alt="Notebook" style="width:100%;">
    <div class="content">
        <h1 style="color:red"> <a style="font-family:'Palatino Linotype'">With blood supplies critically low, giving now can help, especially if you've already recovered from COVID-19! </a></h1>
        <hr />
        <div class="container">
            <br />
            <br />
            <div class="panel-group" id="accordion">
                <div class="faqHeader" style="font-family:'Palatino Linotype'">Frequently Asked Questions</div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" style="font-family:'Palatino Linotype'" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Will You Be Tested for Coronavirus Before You Donate?</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body" style="font-family:'Palatino Linotype'">
                            Yes, before you can donate blood you will be tested for Coronavirus antibodies.
                            Also additional PCR tests will be made and you will be informed shortly what your results are!
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" style="font-family:'Palatino Linotype'" data-toggle="collapse" data-parent="#accordion" href="#collapseTen"> Can You Donate if You Had COVID-19 and Are Now Recovered?</a>
                        </h4>
                    </div>
                    <div id="collapseTen" class="panel-collapse collapse">
                        <div class="panel-body" style="font-family:'Palatino Linotype'">
                            Yes, there is no constiction about donating blood after you have recovered.
                            There are some studies suggesting blood plasma from recovered patients could help fight COVID-19!
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" style="font-family:'Palatino Linotype'" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">  What Can You Do to Protect Yourself and Others While Donating??</a>
                        </h4>
                    </div>
                    <div id="collapseTen" class="panel-collapse collapse">
                        <div class="panel-body"style="font-family:'Palatino Linotype'">
                            You can follow the safety instruction recommended by WHO!
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle collapsed" style="font-family:'Palatino Linotype'" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Are There Any Restrictions on Whether You Will Be Able to Donate?</a>
                        </h4>
                    </div>
                    <div id="collapseEleven" class="panel-collapse collapse">
                        <div class="panel-body" style="font-family:'Palatino Linotype'">
                            Yes! You can read a list with rules of donating blood in our page!
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <br />

                <br />
            </div>
        </div>

        <style>
            .faqHeader {
                font-size: 27px;
                margin: 20px;
            }

            .panel-heading [data-toggle="collapse"]:after {
                font-family: 'Glyphicons Halflings';
                content: "e072"; /* "play" icon */
                float: right;
                color: #F58723;
                font-size: 18px;
                line-height: 22px;
                /* rotate "play" icon from > (right arrow) to down arrow */
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                transform: rotate(-90deg);
            }

            .panel-heading [data-toggle="collapse"].collapsed:after {
                /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                transform: rotate(90deg);
                color: #454444;
            }
        </style>



    </div>
</div>
