@using BloodDonor.Common
@{
    this.ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4"> <p style="color:red">Donate Blood <br /> Donate Now <br /> Donate Often</p></h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://lh3.googleusercontent.com/proxy/t4Cg1_ygW-A3rdU6amQRi4jZhnoMRtDvjsh0U1W6a3_CH6I0MpjbABuhcLvyMA9_CgxUcTAPhXZeiCMq6gPqt0DCSGYXwXc1TXNg" class="d-block w-100" alt="DONATE BLOOD!">
        </div>
        <div class="carousel-item">
            <img src="https://thumbs.dreamstime.com/b/donate-now-square-d-realistic-isolated-glass-web-button-donate-now-donate-now-button-119901102.jpg" class="d-block w-100" alt="DONATE NOW!">
        </div>
        <div class="carousel-item">
            <img src="https://hrelate.com/wp-content/uploads/2015/06/Benefits-of-Donating-Blood-in-Hindi.jpg" class="d-block w-100" alt= "DONATE OFTEN"> 
        </div>
    </div>
</div>


@*<div <p style="font-size:20px"><p style="color:red">this is a paragraph.</p>
    </div>

<h1 style="font-size:300%;">this is a heading</h1>
<p style="font-size:160%;">this is a paragraph.</p>
-
<h3>
    fancy display heading
    <small class="text-muted">with faded secondary text</small>
</h3>*@
