@using BloodDonor.Common
@{
    this.ViewData["Title"] = "Home Page";
}




    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a asp-controller="Donors" asp-action="Register">
                    <img src="https://thumbs.dreamstime.com/b/donate-now-square-d-realistic-isolated-glass-web-button-donate-now-donate-now-button-119901102.jpg" class="d-block w-100"
                         alt="https://4.bp.blogspot.com/-ktd2hxf7WtM/XOECgYhorEI/AAAAAAAABEk/hqyfYqVnjiIHruc88Ewn_FR5msD_sJ8dACLcBGAs/s1600/35826bfa3508b9a4a03b15efca9894c6.png">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    @*<h5>Donation is important!</h5>
                    <p>Please sometghing ttest </p>*@
                </div>
            </div>
            <div class="carousel-item">
                <a asp-controller="" asp-action="Coronavirus">
                    <img src="https://www.wcbs.org.za/sites/default/files/Web-Banner-2020-coronavirus-2.jpg"
                         alt="DONATE NOW!">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="font-family:'Palatino Linotype'">Coronavirus</h5>
                    <p style="font-family:'Palatino Linotype'">Don't be afraid to Donate!</p>
                </div>
            </div>
            <div class="carousel-item">
                <a asp-controller="" asp-action="Benefits">
                    <img src="https://hrelate.com/wp-content/uploads/2015/06/Benefits-of-Donating-Blood-in-Hindi.jpg" class="d-block w-100"
                         alt="DONATE OFTEN">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    @*<h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>*@
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>






@*<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a  asp-controller="Donors" asp-action="Register">
                <img src="https://thumbs.dreamstime.com/b/donate-now-square-d-realistic-isolated-glass-web-button-donate-now-donate-now-button-119901102.jpg" class="d-block w-100" class="d-block w-100" 
                 alt="https://4.bp.blogspot.com/-ktd2hxf7WtM/XOECgYhorEI/AAAAAAAABEk/hqyfYqVnjiIHruc88Ewn_FR5msD_sJ8dACLcBGAs/s1600/35826bfa3508b9a4a03b15efca9894c6.png">
        </a>
            </div>
        <div class="carousel-item">
            <a asp-controller="" asp-action="Coronavirus">
                <img src="https://www.wcbs.org.za/sites/default/files/Web-Banner-2020-coronavirus-2.jpg"
                     alt="DONATE NOW!">
                </a>
        </div>
        <div class="carousel-item">
            <a asp-controller="" asp-action="Benefits">
                <img src="https://hrelate.com/wp-content/uploads/2015/06/Benefits-of-Donating-Blood-in-Hindi.jpg" class="d-block w-100"
                     alt="DONATE OFTEN">
                </a>
        </div>
    </div>
</div>*@


