@model BloodDonor.Web.ViewModels.Responses.ResponseInputViewModel



<h1 style="font-family:'Palatino Linotype'">Thank you for helping!</h1>
<br />
<br />
<br />
<br/>





<h5 style="color:red"> <a style="font-family:'Palatino Linotype'">If you would like to make an anonymous donation please check this box! </a></h5>
<form method="post" asp-action="Add" style="font-family:'Palatino Linotype'">
    <input checked="checked"
           id="IsAnonymous"
           name="IsAnonymous"
           type="checkbox"
           value="true" />

    <div>
        <label asp-for="Details"></label>
        <textarea asp-for="Details" class="form-control"></textarea>
        <span asp-validation-for="Details" class="text-danger"></span>
    </div>

    @*<div>
            <label asp-for="IsAnonymous"></label>
            <select asp-for="IsAnonymous" asp-items="" class="form-control"></select>
            <span asp-validation-for="IsAnonymous" class="text-danger"></span>
        </div>*@


    <hr />
    <input type="submit" class="btn btn-primary" />
</form>

