@model BloodDonor.Web.ViewModels.Responses.ResponseInputViewModel


<h1>Thank you for helping!</h1>



<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });
</script>



<form method="post" asp-action="Add">
    <div>
        <label asp-for="Details"></label>
        <textarea asp-for="Details" class="form-control"></textarea>
        <span asp-validation-for="Details" class="text-danger"></span>
    </div>

    @*<div>
        <label asp-for="IsAnonymous"></label>
        <select asp-for="IsAnonymous" asp-items="" class="form-control"></select>
        <span asp-validation-for="IsAnonymous" class="text-danger"></span>
    </div>*@


    <hr />
    <input type="submit" class="btn btn-primary" />
</form>

