@model BloodDonor.Web.ViewModels.Requests.RequestInputViewModel

<h1>Add your Request</h1>



<form method="post" asp-action="Add">
    <div>
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="MedicalCondition"></label>
        <input asp-for="MedicalCondition" class="form-control" />
        <span asp-validation-for="MedicalCondition" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="PeronalMessage"></label>
        <input asp-for="PeronalMessage" class="form-control" />
        <span asp-validation-for="PeronalMessage" class="text-danger"></span>
    </div>
   
    <hr />
    <input type="submit" class="btn btn-primary" />
</form>
